Options +FollowSymLinks
RewriteEngine on

#force https 
RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#rewrite URL
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3 [NC,L]

php_flag  xdebug.remote_enable on
php_value xdebug.remote_host "localhost"
php_value xdebug.remote_port 9000
php_value xdebug.idekey ECLIPSE_DBGP
php_flag  xdebug.remote_autostart on